body{
    background: #150026;
}

.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h1{
    color: #f6f3ed;
    font-size: 60px;
}

.find{
    display: flex;
    flex-flow: column;
    width: 250px;
    height: 100px;
    gap: 10px;
}

.find>input{
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border: #f6f3ed solid 1px;
    outline-style: none;
    color: #f6f3ed;
    font-size: large;
}

.find>button{
    height: 40px;
    border-radius: 5px;
    background-color: #f6f3edac;
    font-size: large;
}

.find>button:hover{
    background-color: #f6f3ed;
    cursor: pointer;
}

p{
    font-size: 36px;
    color: #f6f3ed;
}

.result{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.glassBG{
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 80vw;
    height: 90vh;
    border-radius: 30px;
    background: linear-gradient(#224255, #44007c);
}